<!DOCTYPE html>
<html>
  <head>

    <title>
      Live Cam
    </title>

  <style>
    body {
      background-image: url('static/livecam.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;
    }
  </style>

  </head>
  <body>
    <center>
    <br>

      <h1 style="color: red;">
        Live Cam
      </h1>
      <br><br><br>

      <div>
          <img src="{{ url_for('video') }}" width="50%"/>
      </div>

    </center> 
  </body>
</html>
